@using FahasaStoreClientApp.Components
@{
    var voucher = new Voucher(1, "code 2025", "2025code", "giam 50%", 10, new DateTime(2024, 4, 30), 10000, 200000, 99);
    var voucher2 = new Voucher(2, "new code 2025", "2025codenew", "giam 50%", 10, new DateTime(2024, 4, 30), 10000, 200000, 99);
}

<div id="Cart" class="bg-black bg-opacity-10">
    <div class="container pt-4 d-flex align-items-center">
        <h6 class="mb-0 fs-4 text-uppercase">Giỏ hàng</h6><span class="px-2">(2 sản phẩm)</span>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8">
                <div class="">
                    <div class="p-3 mb-2 bg-white rounded-3">
                        <div class="row">
                            <div class="col-7">
                                <input class="py-2" type="checkbox" value="" id="select-all-checkbox">
                                <label role="button" for="select-all-checkbox">
                                    Chọn tất cả (6 sản phẩm)
                                </label>
                            </div>
                            <div class="col-2">
                                Số lượng
                            </div>
                            <div class="col-2">
                                Thành tiền
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                    <div class="p-3 bg-white rounded-3">
                        <div class="py-3">
                            <div class="row">
                                <div class="col-7">
                                    <div class="d-flex">
                                        <input class="item-checkbox py-2" type="checkbox" value="" id="checkItem" name="product">
                                        <label for="checkItem">
                                            <img src="~/image/fs1.jpg" width="120" height="120" class="object-fit-contain mx-2" />
                                        </label>
                                        <div class="d-flex flex-column justify-content-between">
                                            <a href="#" class="mb-2 nav-link">Ghi Chép Pháp Y - Những Thi Thể Không Hoàn Chỉnh</a>
                                            <div class="d-flex align-items-center">
                                                <span class="fw-bold">94.900 đ</span>
                                                <span class="ms-2 text-decoration-line-through">130.000 đ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 d-flex flex-column justify-content-center">
                                    <input type="number" value="1" class="fs-6 px-1 py-1 text-center w-100" min="1" />
                                </div>
                                <div class="col-2 d-flex flex-column justify-content-center">
                                    <h6 class="text-danger fw-bold">819.999 đ</h6>
                                </div>
                                <div class="col-1 d-flex flex-column justify-content-center"><a href="#" class="nav-link"><h6 class="fw-bold"><i class="bi bi-trash"></i></h6></a></div>
                            </div>
                        </div>
                        <hr />
                        <div class="py-3">
                            <div class="row">
                                <div class="col-7">
                                    <div class="d-flex">
                                        <input class="item-checkbox py-2" type="checkbox" value="" id="checkItem2" name="product">
                                        <label for="checkItem2">
                                            <img src="~/image/fs1.jpg" width="120" height="120" class="object-fit-contain mx-2" />
                                        </label>
                                        <div class="d-flex flex-column justify-content-between">
                                            <a href="#" class="mb-2 nav-link">Ghi Chép Pháp Y - Những Thi Thể Không Hoàn Chỉnh</a>
                                            <div class="d-flex align-items-center">
                                                <span class="fw-bold">94.900 đ</span>
                                                <span class="ms-2 text-decoration-line-through">130.000 đ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 d-flex flex-column justify-content-center">
                                    <input type="number" value="1" class="fs-6 px-1 py-1 text-center w-100" min="1" />
                                </div>
                                <div class="col-2 d-flex flex-column justify-content-center">
                                    <h6 class="text-danger fw-bold">819.999 đ</h6>
                                </div>
                                <div class="col-1 d-flex flex-column justify-content-center"><a href="#" class="nav-link"><h6 class="fw-bold"><i class="bi bi-trash"></i></h6></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-3 mt-lg-0">
                <div>
                    <div class="p-3 rounded-3 bg-white">
                        <div class="text-primary d-flex justify-content-between align-items-center">
                            <div class="fw-bold text-uppercase">
                                <i class="bi bi-gift"></i>
                                <span>Khuyến mãi</span>
                            </div>
                            <div>
                                <span role="button" class="text-primary ms-auto" data-bs-toggle="modal" data-bs-target="#vouchersModal">Xem thêm</span>
                                <div class="modal fade" id="vouchersModal" tabindex="-1" aria-labelledby="vouchersModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header text-danger">
                                                <i class="bi bi-gift-fill fs-3"></i>
                                                <h1 class="modal-title fs-5 text-uppercase ms-3" id="vouchersModalLabel">Mã giảm giá</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <div class="d-flex align-items-center bg-light border rounded-3 p-2">
                                                        <img src="~/image/voucher.png" width="100" height="100" class="object-fit-contain me-2" />
                                                        <div>
                                                            <div class="oneLine text-uppercase fw-bold">mã giảm giá 10k - đơn hàng từ 150k</div>
                                                            <div class="d-flex align-items-center align-items-center mt-2">
                                                                <small role="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#vouchers1Modal">Chi tiết</small>
                                                                <div class="form-check ms-auto">
                                                                    <input class="form-check-input" type="radio" hidden name="CheckVoucher" id="radioChkVoucher1">
                                                                    <label class="form-check-label btn btn-primary" role="button" for="radioChkVoucher1">
                                                                        Chọn
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="vouchers1Modal" tabindex="-1" aria-labelledby="vouchers1ModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h1 class="modal-title fs-5 text-uppercase" id="vouchers1ModalLabel">Chi tiết mã giảm giá</h1>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <p class="btn btn-outline-success">mã giảm giá 10k - đơn hàng từ 150k</p>
                                                                            <p>- Điều kiện áp dụng: áp dụng cho đơn hàng từ 150K, không áp dụng cho đơn hàng có sản phẩm Phiếu Quà Tặng</p>
                                                                            <p>- Thời gian áp dụng: Đến hết Tháng 3/2024</p>
                                                                            <p>- Khách hàng có thể áp dụng cùng lúc với mã giảm phí vận chuyển</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <div class="d-flex align-items-center bg-light border rounded-3 p-2">
                                                        <img src="~/image/voucher.png" width="100" height="100" class="object-fit-contain me-2" />
                                                        <div>
                                                            <div class="oneLine text-uppercase fw-bold">mã giảm giá 10k - đơn hàng từ 150k</div>
                                                            <div class="d-flex align-items-center align-items-center mt-2">
                                                                <small role="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#vouchers2Modal">Chi tiết</small>
                                                                <div class="form-check ms-auto">
                                                                    <input class="form-check-input" type="radio" hidden name="CheckVoucher" id="radioChkVoucher2">
                                                                    <label class="form-check-label btn btn-primary" role="button" for="radioChkVoucher2">
                                                                        Chọn
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="vouchers2Modal" tabindex="-1" aria-labelledby="vouchers2ModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h1 class="modal-title fs-5 text-uppercase" id="vouchers2ModalLabel">Chi tiết mã giảm giá</h1>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <p class="btn btn-outline-success">mã giảm giá 10k - đơn hàng từ 150k (2)</p>
                                                                            <p>- Điều kiện áp dụng: áp dụng cho đơn hàng từ 150K, không áp dụng cho đơn hàng có sản phẩm Phiếu Quà Tặng</p>
                                                                            <p>- Thời gian áp dụng: Đến hết Tháng 3/2024</p>
                                                                            <p>- Khách hàng có thể áp dụng cùng lúc với mã giảm phí vận chuyển</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <div class="d-flex align-items-center bg-light border rounded-3 p-2">
                                                        <img src="~/image/voucher.png" width="100" height="100" class="object-fit-contain me-2" />
                                                        <div>
                                                            <div class="oneLine text-uppercase fw-bold">mã giảm giá 10k - đơn hàng từ 150k</div>
                                                            <div class="d-flex align-items-center align-items-center mt-2">
                                                                <small role="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#vouchers3Modal">Chi tiết</small>
                                                                <div class="form-check ms-auto">
                                                                    <input class="form-check-input" type="radio" hidden name="CheckVoucher" id="radioChkVoucher3">
                                                                    <label class="form-check-label btn btn-primary" role="button" for="radioChkVoucher3">
                                                                        Chọn
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="vouchers3Modal" tabindex="-1" aria-labelledby="vouchers3ModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h1 class="modal-title fs-5 text-uppercase" id="vouchers3ModalLabel">Chi tiết mã giảm giá</h1>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <p class="btn btn-outline-success">mã giảm giá 10k - đơn hàng từ 150k (3)</p>
                                                                            <p>- Điều kiện áp dụng: áp dụng cho đơn hàng từ 150K, không áp dụng cho đơn hàng có sản phẩm Phiếu Quà Tặng</p>
                                                                            <p>- Thời gian áp dụng: Đến hết Tháng 3/2024</p>
                                                                            <p>- Khách hàng có thể áp dụng cùng lúc với mã giảm phí vận chuyển</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <div class="d-flex align-items-center bg-light border rounded-3 p-2">
                                                        <img src="~/image/voucher.png" width="100" height="100" class="object-fit-contain me-2" />
                                                        <div>
                                                            <div class="oneLine text-uppercase fw-bold">mã giảm giá 10k - đơn hàng từ 150k</div>
                                                            <div class="d-flex align-items-center align-items-center mt-2">
                                                                <small role="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#vouchers4Modal">Chi tiết</small>
                                                                <div class="form-check ms-auto">
                                                                    <input class="form-check-input" type="radio" hidden name="CheckVoucher" id="radioChkVoucher4">
                                                                    <label class="form-check-label btn btn-primary" role="button" for="radioChkVoucher4">
                                                                        Chọn
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="vouchers4Modal" tabindex="-1" aria-labelledby="vouchers4ModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h1 class="modal-title fs-5 text-uppercase" id="vouchers4ModalLabel">Chi tiết mã giảm giá</h1>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <p class="btn btn-outline-success">mã giảm giá 10k - đơn hàng từ 150k (4)</p>
                                                                            <p>- Điều kiện áp dụng: áp dụng cho đơn hàng từ 150K, không áp dụng cho đơn hàng có sản phẩm Phiếu Quà Tặng</p>
                                                                            <p>- Thời gian áp dụng: Đến hết Tháng 3/2024</p>
                                                                            <p>- Khách hàng có thể áp dụng cùng lúc với mã giảm phí vận chuyển</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <div class="d-flex align-items-center bg-light border rounded-3 p-2">
                                                        <img src="~/image/voucher.png" width="100" height="100" class="object-fit-contain me-2" />
                                                        <div>
                                                            <div class="oneLine text-uppercase fw-bold">mã giảm giá 10k - đơn hàng từ 150k</div>
                                                            <div class="d-flex align-items-center align-items-center mt-2">
                                                                <small role="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#vouchers5Modal">Chi tiết</small>
                                                                <div class="form-check ms-auto">
                                                                    <input class="form-check-input" type="radio" hidden name="CheckVoucher" id="radioChkVoucher5">
                                                                    <label class="form-check-label btn btn-primary" role="button" for="radioChkVoucher5">
                                                                        Chọn
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="vouchers5Modal" tabindex="-1" aria-labelledby="vouchers5ModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h1 class="modal-title fs-5 text-uppercase" id="vouchers5ModalLabel">Chi tiết mã giảm giá</h1>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <p class="btn btn-outline-success">mã giảm giá 10k - đơn hàng từ 150k (5)</p>
                                                                            <p>- Điều kiện áp dụng: áp dụng cho đơn hàng từ 150K, không áp dụng cho đơn hàng có sản phẩm Phiếu Quà Tặng</p>
                                                                            <p>- Thời gian áp dụng: Đến hết Tháng 3/2024</p>
                                                                            <p>- Khách hàng có thể áp dụng cùng lúc với mã giảm phí vận chuyển</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @* end *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <hr />
                        <div>
                            @(await Html.RenderComponentAsync<VoucherComponent>(RenderMode.ServerPrerendered, new { voucher = voucher, buyMore = true }))
                        </div>

                        <div class="mt-3">
                            <h6 class="text-black text-opacity-75">Khuyến mãi đã áp dụng</h6>
                            <div>
                                @* <span class="text-black text-opacity-75">Chưa sử dụng khuyến mãi nào</span> *@
                                @(await Html.RenderComponentAsync<VoucherComponent>(RenderMode.ServerPrerendered, new { voucher = voucher, remove = true }))
                            </div>
                        </div>
                    </div>
                    <div class="p-3 rounded-3 bg-white mt-3">
                        <div class="fw-bold text-uppercase text-danger">
                            <i class="bi bi-credit-card-2-back-fill"></i>
                            <span>Thành toán</span>
                        </div>
                        <hr />
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="fw-bold">Tổng tiền:</span>
                            <span class="text-danger fw-bold fs-5">999.999 đ</span>
                        </div>
                        <div class="mt-3">
                            <a href="/Home/Pay" class="btn btn-danger text-uppercase fw-bold fs-6 w-100">Đặt hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <script>
        // selectors all product
        $(document).ready(function () {
            $('#select-all-checkbox').change(function () {
                $('.item-checkbox').prop('checked', $(this).prop('checked'));
            });

            $('.item-checkbox').change(function () {
                if (false === $(this).prop('checked')) {
                    $('#select-all-checkbox').prop('checked', false);
                }
                if ($('.item-checkbox:checked').length === $('.item-checkbox').length) {
                    $('#select-all-checkbox').prop('checked', true);
                }
            });
        });
    </script>
}