@model FahasaStoreClientApp.Models.EModels.ReviewModel

<div>
    <!-- Button trigger modal -->
    <button type="button" id="btn-toggle" class="btn btn-primary" hidden data-bs-toggle="modal" data-bs-target="#appModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="appModal" tabindex="-1" aria-labelledby="appModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="appModalLabel">Đánh Giá Sách</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="EditReview" id="form-EditReview">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3 d-flex flex-column align-items-center">
                            <input asp-for="Rating" min="1" max="5" hidden />
                            <div class="stars fs-3">
                                <span class="star" style="color: gold" data-rating="1">&#9733;</span>
                                <span class="star" style="color: gold" data-rating="2">&#9733;</span>
                                <span class="star" style="color: gold" data-rating="3">&#9733;</span>
                                <span class="star" style="color: gold" data-rating="4">&#9733;</span>
                                <span class="star" style="color: gold" data-rating="5">&#9733;</span>
                            </div>
                            <div class="rating-description ms-3">Tuyệt vời</div>
                            <span asp-validation-for="Rating" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="cmtInput" class="form-label">Nội dung đánh giá</label>
                            <textarea class="form-control" asp-for="Comment" oninput="updateCharacterCount()" rows="3" maxlength="250" placeholder="Nhập nội dung nhận xét của bạn về sản phẩm, tối đa 250 ký tự."></textarea>
                            <div id="charCount" class="mt-3 text-end">Số ký tự còn lại: 250</div>
                            <span asp-validation-for="Comment" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Cập Nhật" class="btn btn-danger" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btn-toggle").click();
</script>

<script>

    $(document).ready(function () {
        ReviewHandler();

        function ReviewHandler() {
            let starDescriptions = {
                1: "Quá tệ",
                2: "Không hài lòng",
                3: "Bình thường",
                4: "Hài lòng",
                5: "Tuyệt vời",
            };

            let $stars = $("span[data-rating]");
            let $ratingDescription = $(".rating-description");
            let $ratingInput = $('input[name="Rating"]');

            $stars.on("click", function () {
                let rating = $(this).data("rating");
                $ratingDescription.text(starDescriptions[rating]);
                $ratingInput.val(rating);

                $stars.each(function (index) {
                    if (index + 1 <= rating) {
                        $(this).css("color", "gold"); // Change color to gold
                    } else {
                        $(this).css("color", ""); // Reset color
                    }
                });
            });
        }
    });
    // review
    function updateCharacterCount() {
        var textarea = document.getElementById("Comment");
        var charCount = document.getElementById("charCount");
        var maxLength = textarea.getAttribute("maxlength");
        var remainingChars = maxLength - textarea.value.length;
        charCount.textContent = "Số ký tự còn lại: " + remainingChars;
    }

    $("#form-EditReview").submit(function (event) {
        event.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: formData,
            success: function (response) {
                window.location.reload();
                toastr.success("Chỉnh sửa đánh giá thành công");
            },
            error: function (xhr, status, error) {
                alert("Đã xảy ra lỗi: " + error);
            }
        });
    });

</script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
