@model FahasaStoreClientApp.Models.CustomModels.PaginatedResponse<FahasaStoreClientApp.Models.DTO.NotificationDTO>

<div class="notification dropdown my-1">
    <div title="Notification" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="notification-btn py-2 d-flex flex-column align-items-center fw-bold text-black-50 pe-3">
        <div class="position-relative">
            <i class="bi bi-bell"></i>
            @if(Model.Items.Count > 0)
            {
                <span class="position-absolute top-0 start-100 translate-middle-y translate-middle badge rounded-pill bg-danger ">
                    @Model.TotalItemCount
                    <span class="visually-hidden">unread messages</span>
                </span>
            }
        </div>
        <span class="dropdown-toggle d-none d-lg-block">Thông báo</span>
    </div>
    <div class="dropdown-menu dropdown-menu-end shadow py-0" style="width: 360px;">
        <div class="d-flex justify-content-between border-bottom align-items-center">
            <div class="px-3 py-2 fw-bold">
                <i class="bi bi-bell"></i>
                <span>Thông báo</span>
            </div>
            <a href="/User/Notification" class="fw-bold text-decoration-none px-3 py-2">Xem tất cả</a>
        </div>
        <div class="" style="min-height: 360px;">
            @{
                if (Model.Items.Count > 0)
                {
                    foreach (var noti in Model.Items)
                    {
                        <div>
                            <a href="/User/NotificationDetails" IdValue="@noti.Id" onclick="HandlerCRUD(this, event)" class="text-decoration-none">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">@noti.NotificationType.Name</h5>
                                        <div class="text-truncate">@noti.Content</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
                else
                {
                    <div class="text-center my-auto">Không có thông báo nào</div>
                }
            }
        </div>
    </div>
</div>