@using FahasaStoreClientApp.Components
@using FahasaStoreClientApp.Models;
@model FahasaStoreClientApp.Models.User
@{
    var voucher = new Voucher(1, "code 2025", "2025code", "giam 50%", 10, new DateTime(2024, 4, 30), 10000, 200000, 99);
    var voucher2 = new Voucher(2, "new code 2025", "2025codenew", "giam 50%", 10, new DateTime(2024, 4, 30), 10000, 200000, 99);
}
<div class="bg-black bg-opacity-10">
    <div class="container pt-4">
        <div class="bg-white rounded-3 py-3">
            <div class="row">
                <div class="col-lg-3">
                    @(await Html.RenderComponentAsync<SideBarUser>(RenderMode.ServerPrerendered, new { active = 1 }))
                </div>
                <div class="col-lg-9 px-4">
                    <h5 class="text-uppercase">Thông tin tài khoản</h5><hr />
                    <form asp-action="Information">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="ImageUrl" class="control-label"></label>
                                    <input asp-for="ImageUrl" type="file" hidden class="form-control" id="imageInput" />
                                    <br />
                                    <label for="imageInput" role="button" class="rounded-circle">
                                        <div id="imagePreview" class="position-relative overflow-hidden rounded-circle">
                                            <img src="https://images.fpt.shop/unsafe/filters:quality(90)/fptshop.com.vn/uploads/images/tin-tuc/169649/Originals/hinh-nen-anime-cute%20(3).jpg" width="120" height="120" class="object-fit-cover rounded-circle" />
                                            <div class="overlay rounded-circle"><i class="bi bi-camera"></i></div>
                                        </div>
                                    </label>
                                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="submit" value="Lưu lại" class="btn btn-outline-danger" />
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="form-group">
                                    <label asp-for="FirstName" class="control-label"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Phone" class="control-label"></label>
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Username" class="control-label"></label>
                                    <input asp-for="Username" class="form-control" />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="control-label"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#imageInput').change(function (event) {
                var input = event.target;
                var reader = new FileReader();

                reader.onload = function () {
                    var dataURL = reader.result;
                    $('#imagePreview img').attr('src', dataURL);
                };

                reader.readAsDataURL(input.files[0]);
            });
        });
    </script>
}
