@using FahasaStoreClientApp.Components
@{

}
<div class="bg-black bg-opacity-10">
    <div class="container pt-4">
        <div class="bg-white rounded-3 py-3">
            <div class="row">
                <div class="col-lg-3">
                    @(await Html.RenderComponentAsync<SideBarUser>(RenderMode.ServerPrerendered, new { active = 5 }))
                </div>
                <div class="col-lg-9 px-4">
                    <h5 class="text-uppercase">Nhận xét của tôi</h5><hr />
                    <div>
                        <div class="row g-3">
                            <div>
                                <div class="row">
                                    <div class="col-2 d-none d-sm-block"><strong>Ngày</strong></div>
                                    <div class="col-4 col-sm-3"><strong>Sách</strong></div>
                                    <div class="col-2"><strong>Đánh giá</strong></div>
                                    <div class="col-4 col-sm-3"><strong>Nội dung</strong></div>
                                    <div class="col-2"></div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-2 d-none d-sm-block">27/04/2024</div>
                                    <div class="col-4 col-sm-3"><a href="#" class="nav-link twoLine">Ghi Chép Pháp Y - Những Thi Thể Không Hoàn Chỉnh</a></div>
                                    <div class="col-2">
                                        <span style="color: gold">★</span>
                                        <span style="color: gold">★</span>
                                        <span style="color: gold">★</span>
                                        <span>★</span>
                                        <span>★</span>
                                    </div>
                                    <div class="col-4 col-sm-3"><span class="text-truncatet-row-double">Nội dung rất hay Ghi Chép Pháp Y - Những Thi Thể Không Hoàn Chỉnh</span></div>
                                    <div class="col-2">
                                        <a href="/User/ReviewsUpdate" class="nav-link"><i class="bi bi-pencil"></i></a>
                                        <a href="" class="nav-link"><i class="bi bi-trash3"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-2 d-none d-sm-block">27/04/2024</div>
                                    <div class="col-4 col-sm-3"><a href="#" class="nav-link twoLine">Ghi Chép Pháp Y - Những Thi Thể Không Hoàn Chỉnh</a></div>
                                    <div class="col-2">
                                        <span style="color: gold">★</span>
                                        <span style="color: gold">★</span>
                                        <span style="color: gold">★</span>
                                        <span>★</span>
                                        <span>★</span>
                                    </div>
                                    <div class="col-4 col-sm-3"><span class="text-truncatet-row-double">Nội dung rất hay Ghi Chép Pháp Y - Những Thi Thể Không Hoàn Chỉnh</span></div>
                                    <div class="col-2">
                                        <a href="/User/ReviewsUpdate" class="nav-link"><i class="bi bi-pencil"></i></a>
                                        <a href="" class="nav-link"><i class="bi bi-trash3"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        <li class="page-item disabled">
                                            <a class="page-link">Previous</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    
}
