@model FahasaStoreClientApp.Models.BoolModel

@{
    ViewData["Title"] = "FormBool";
}

<h1>FormBool</h1>

<h4>BoolModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FormBool">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="radio" value="1" /> radio 1
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="radio" value="2" /> radio 2
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="category" type="radio" value="3" /> radio 3
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="category" type="radio" value="4" /> radio 3
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="category" type="radio" value="5" /> radio 3
                </label>
            </div>
            <div class="form-group">
                <label asp-for="checkbox" class="control-label"></label>
                <input asp-for="checkbox" class="form-control" />
                <span asp-validation-for="checkbox" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
