@using FahasaStoreClientApp.Models

<div class="d-flex align-items-center bg-light border rounded-3 p-2">
    <img src="/image/voucher.png" width="100" height="100" class="object-fit-contain me-2" />
    <div class="flex-grow-1">
        <div class="oneLine text-uppercase fw-bold">@voucher?.Name</div>
        <div class="d-flex justify-content-between align-items-center mt-2">
            <small role="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#voucherModal_@voucher?.VoucherId">Chi tiết</small>
            @{
                if (buyMore != null && buyMore == true)
                {
                    <a href="#" class="btn btn-primary py-1 ms-auto">Mua thêm</a>
                }
                if (remove != null && remove == true)
                {
                    <a href="#" class="btn btn-danger py-1 ms-auto"><i class="bi bi-x-lg"></i></a>
                }
            }

        </div>
    </div>
</div>
<div class="modal fade" id="voucherModal_@voucher?.VoucherId" tabindex="-1" aria-labelledby="voucherModalLabel_@voucher?.VoucherId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-uppercase" id="voucherModalLabel_@voucher?.VoucherId">Chi tiết mã giảm giá</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="btn btn-outline-success">@voucher?.Name</p>
                <p>- Mã: @voucher?.Code</p>
                <p>- Áp dụng cho đơn hàng từ: @voucher?.MinOrderAmount</p>
                <p>- Giảm tối đa: @voucher?.MaxDiscountAmount</p>
                <p>- Hạn sử dụng: @voucher?.ExpirationDate</p>
                <p>- @voucher?.Description</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Voucher? voucher { get; set; }
    [Parameter]
    public bool? buyMore { get; set; }
    [Parameter]
    public bool? remove { get; set; }
}
